.alumni {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 80%;
}

.composites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.composite-nav {
    background-color: whitesmoke;
    border: none;
    font-size: 40px;
}

.composites img {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 700px) {
    .alumni {
        flex-direction: column;
    }
    .content {
        width: 100%;
    }

    .composites img {
        width: 300px;
        height: 200px;
    }
}