.alumni {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 60%;
}

.side {
    width: 20%;
}

.fill {
    width: 20%;
}

.composites {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
}

.composite-nav {
    background-color: whitesmoke;
    border: none;
    font-size: 40px;
    color: black;
}

.composites img {
    width: 600px;
    height: 400px;
}

@media only screen and (max-width: 700px) {
    .alumni {
        flex-direction: column;
    }

    .fill {
        display: none;
    }

    .side {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .composites img {
        width: 250px;
        height: 170px;
    }
}