.alumni {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    width: 80%;
}

.composites {
    display: flex;
    align-items: center;
    justify-content: center;
}

.composite-nav {
    background-color: whitesmoke;
    border: none;
    font-size: 40px;
}