.sidebar {

}

.title {
    font-size: 20px;
    font-family: 'Avenir';
}

.links {
    display: flex;
    flex-direction: column;
}

.link-item {
    text-decoration: none;
    padding: 10px;
    color: rgb(213, 138, 0);
}

.link-item:hover {
    animation: nav-hover .3s ease-in;
    color: purple;
}

@keyframes nav-hover {
    0% {
        color: rgb(213, 138, 0);
    }

    100% {
        color: purple;
    }
}